body {
  color: #393939;
  background-color: #fff;
  font-family: "Roboto"
}

header {
  background-color: #fff;
  border-bottom: 5px solid #121f1d;
  padding: 10px;
}

#logo {
  img {
    height: 60px;
  }
}