.get-started {
  text-align: center;

  span {
    color: #ff3500;
    text-transform: uppercase;
    display: block;
  }
}

#wp-submit {
  @include btn(#fe0133);
  color: #ffffff;
}

.btn {
  @include btn()
}

.red-alert {
  @include alert(#b21700)
}

form {
  p {
    margin-bottom: 10px;
    overflow: hidden;
  }
}

.login-remember, .login-submit {
  width: 50%;
  float: left;
}

.login-submit {
  text-align: right;
}

@mixin social-btn($color) {
  padding: 15px 15px 15px 50px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $color;
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: (100% - 4% )/3;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
  i {
    position: absolute;
    text-align: center;
    font-size: 20px;
    padding-top: 13px;
    height: 100%;
    width: 40px;
    left: 0;
    top: 0;
    background-color: darken($color, 5);
  }
  &:hover {
    background-color: lighten($color, 10);

  }
}

.social-btn-fb {
  @include social-btn(#0047ac);
}

.social-btn-tw {
  @include social-btn(#07c6df);
}

.social-btn-gp {
  @include social-btn(#d31b00);
  margin-right: 0;
}

.login-box.icon {
  border-radius: 13px;
  padding: 15px 47px;
}

#loginform {
  .login-username, .login-password {
    position: relative;
    @include radius($globalRadius);
    border: 1px solid $fieldBorder;
    margin-bottom: 10px;
    label {
      position: absolute;
      opacity: 0;
      font-size: 12px;
      left: 10px;
      top: 6px;
      color: #bebebe;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: bold;
    }
    &.is-active {
      label {
        opacity: 1;
      }
      input {
        padding-top: 20px;
      }
    }
    &.is-focus {
      border-color: #008fff;

      input {
        color: #008fff;
      }
    }

  }

  input[type=text],
  input[type=password] {
    font-size: 14px;
    width: 100%;
    border: 0px;
    padding: 10px;
  }
}


