.eq-height {
  overflow: hidden;
  > div {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}

// Or separeater
.or-sep {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  span {
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    text-transform: uppercase;
    vertical-align: middle;
  }
  &:before {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    z-index: -1;
    height: 1px;
    background-color: #ebebeb;
    content: ' ';
  }
}